<div class='hero-section'>
  <div class='hero-background'></div>
  <div class='hero-container'>
    <div class='hero-content'>
      <div class='text-content'>
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item active">
              <div class='row'>
                <div class='col-md-12' style='height: 200px;'>
                  <div class='carousel-content'>
                    <p>Travel on the most safest chauffer driven vehicle.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class='row'>
                <div class='col-md-12' style='height: 200px;'>
                  <div class='carousel-content'>
                    <p>Ever thought of been driven by a chauffer!!</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class='row'>
                <div class='col-md-12' style='height: 200px;'>
                  <div class='carousel-content'>
                    <p>Guessed.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Controls -->
          <!-- <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a> -->
        </div>
      </div>
      <a role="button" class='hero-button-content no-registering dark-yellow-bg'>
        <span class='no-registering'>
          <i class='glyphicon glyphicon-circle-arrow-right'></i> Get 20% Extra Discount
        </span>
        <span class='registering pull-right'>
          <i class='glyphicon glyphicon-circle-arrow-right'></i> No Thanks. May be later
        </span>
      </a>
    </div>
  </div>
</div>

<div class='why-and-register'>
  <div class='register-form no-show'>
    <div class='container'>
      <div class='row'>
        <div class='col-md-12'>
          
          <div class='row'>
            <div class='register-form-1 register-form-div active'>          
              <div class='col-md-6'>
                <form id='register-1' class='form-horizontal'>
                  <!-- <div class='container'> -->
                    <div class='form-group'>
                      <label class='control-label col-md-3'>Name:</label>
                      <div class='col-md-9'>
                        <input type='text' class='form-control' data-validation="required" name="user[name]" data-validation-error-msg="Please enter your full name">
                      </div>
                    </div>
                    
                    <div class='form-group'>
                      <label class='control-label col-md-3'>Mobile:</label>
                      <div class='col-md-9'>
                        <input type='text' class='form-control' name="user[mobile]" data-validation="required number length" data-validation-allowing='integer' data-validation-length='10-10' data-validation-error-msg="Please enter a valid mobile number">
                      </div>
                    </div>
                    
                    <div class='form-group'>
                      <label class='control-label col-md-3'>Email:</label>
                      <div class='col-md-9'>
                        <input type='text' class='form-control' name="user[email]" data-validation="email" data-validation-error-msg="Please enter a valid email address">
                      </div>
                    </div>
          
                    <div class='form-group'>
                      <div class='col-md-12'>
                        <input type='submit' class='btn pull-right'>
                      </div>
                    </div>
                  <!-- </div> -->
                </form>
              </div>
              <div class='col-md-6'>
                <p>This is content for form 1.</p>
              </div>
            </div>
          </div>

          <div class='row'>
            <div class='register-form-2 register-form-div inactive'>
              <div class='col-md-6'>
                <form id='register-2' class='form-horizontal'>
                  <!-- <div class='container'> -->                    
                    <input type='hidden' id="user_email" class='form-control' name="user[email]" data-validation="email" data-validation-error-msg="Please enter a valid email address">
                    
                    <div class='form-group'>
                      <label class='control-label col-md-3'>Location:</label>
                      <div class='col-md-9'>
                        <input type='text' class='form-control' name="user[location]">
                      </div>
                    </div>
                    
                    <div class='form-group'>
                      <label class='control-label col-md-3'>Profession:</label>
                      <div class='col-md-9'>
                        <select class='form-control' name="user[profession]">              
                          <option value='student'>Student</option>
                          <option value='employee'>Employee</option>
                          <option value='doctor'>Doctor</option>
                        </select>
                      </div>
                    </div>

                    <div class='form-group'>
                      <label class='control-label col-md-3'>Married</label>
                      <div class='col-md-9'>
                        <label class="radio-inline">
                          <input type='radio' name="user[married]" value='1'> Yes            
                        </label>
                        <label class="radio-inline">
                          <input type='radio' name="user[married]" value='0'> No
                        </label>
                      </div>
                    </div>

                    <div class='form-group'>
                      <div class='col-md-12'>
                        <input type='submit' class='btn pull-right'>
                      </div>
                    </div>
                  <!-- </div> -->
                </form>
              </div>
              <div class='col-md-6'>
                <p>This is content for form 2.</p>
              </div>
            </div>
                
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class='why-section'>
    <div class='container'>
      <div class='row'>      
        <div class='col-md-6 text-center'>
          <img class='coupons-image' src="<%= asset_path('coupons-1.jpg') %>">
        </div>

        <div class='col-md-6'>
          <h1>Why Autos4Free?</h1>
          <p>Autos4Free lets you commute for absolutely zero cost. Every rupee you pay for commuting in FreeAutos is equated by coupons of your choice for the same amount or mobile phone recharges.</p>

          <div class='row'>
            <div class='col-md-12'>
              <div class="row">
                <div class="col-md-3 col-xs-6">
                  <div class="thumbnail">
                    <img src="<%= asset_path('shield.jpg') %>" alt="...">
                    <div class="caption">
                      <p>Safe</p>                    
                    </div>                  
                  </div>
                </div>

                <div class="col-md-3 col-xs-6">
                  <div class="thumbnail">
                    <img src="<%= asset_path('driver.jpg') %>" alt="...">
                    <div class="caption">
                      <p>Verified</p>                    
                    </div>
                  </div>
                </div>

                <div class="col-md-3 col-xs-6">
                  <div class="thumbnail">
                    <img src="<%= asset_path('free-tag.jpg') %>" alt="...">
                    <div class="caption">
                      <p>Free</p>                    
                    </div>
                  </div>
                </div>

                <div class="col-md-3 col-xs-6">
                  <div class="thumbnail">
                    <img src="<%= asset_path('smile.jpg') %>" alt="...">
                    <div class="caption">
                      <p>Polite</p>                    
                    </div>
                  </div>
                </div>              
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  

<div class='page-section grey-bg safe-section'>
  <div class='container'>
    <div class='text-center'>
      <h2>Safe Trips</h2>
      <p>Through Autos4Free we ensure that you have safest and comfortable trips during your busy day.</p>
    </div>

    <div class='row'>
      <div class='col-md-12'>
        <div class="col-md-4 col-sm-6">
          <div class="thumbnail">
            <div class='thumb-img' style="background: url('<%= asset_path('auto-driver.jpg') %>');">
            </div>
            <div class="caption no-show">
              <h4 class='title'>Verified and trained drivers</h4>
              <a href="#" class='read'>Read more</a>
              <p>Autos4Free provides drivers who are well trained and whose background is thoroughly verified.</p>              
              <a href="#" class='no-read'>Show less</a>
            </div>            
          </div>
        </div>

        <div class="col-md-4 col-sm-6">
          <div class="thumbnail">
            <div class='thumb-img' style="background: url('<%= asset_path('location.jpg') %>')">
            </div>
            <div class="caption no-show">
              <h4 class='title'>Location updates</h4>
              <a href="#" class='read'>Read more</a>
              <p>One can signup for location updates to be sent to their loved ones when commuting in FreeAutos.</p>              
              <a href="#" class='no-read'>Show less</a>
            </div>
          </div>
        </div>

         <div class="col-md-4 col-sm-6">
          <div class="thumbnail">
            <div class='thumb-img' style="background: url('<%= asset_path('printing-meter.jpg') %>')">
            </div>
            <div class="caption no-show">
              <h4 class='title'>Printed bill</h4>
              <a href="#" class='read'>Read more</a>
              <p>You get machine printed bill for your trips directly from the meter for the exact distance that you travelled in FreeAutos.</p>              
              <a href="#" class='no-read'>Show less</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class='page-section why-auto-section dark-yellow-bg'>
  <div class='container'>
    <div class='row'>
      <div class='col-md-7'>
        <h1>Why Autos?</h1>
        <p>
          <div class='row'>
            <div class='col-md-6 col-xs-12 col-sm-6'>
              <ul>
                <li>Cheapest mode of public transport.</li>
                <li>High availability 24x7.</li>
                <li>Causes less traffic congestion.</li>
              </ul>
            </div>
            <div class='col-md-6 col-xs-12 col-sm-6'>
              <ul>
                <li>Fastest through heavy traffic.</li>
                <li>Lesser pollution with CNG.</li>
              </ul>
            </div>
          </div>
        </p>
      </div>
      <div class='col-md-5'>
        <img src="<%= asset_path('auto.png') %>">
      </div>      
    </div>
  </div>
</div>


<div class='page-section footer'>
  <div class='container'>
    <div class='row'>
      <div class='col-md-12'>
        <a href="mailto:autos4free@gmail.com" class='bold grey-text'>Contact Us</a>
      </div>
    </div>

    <div class='row'>
      <div class='col-md-12' style="margin-top: 80px;">
        <p class='pull-left'>Design inspired from Google. You have all rights to copy.</p>
        <p class='pull-right autos-logo'>Autos4Free</p>
      </div>
    </div>
  </div>
</div>